<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!searching">Recipes</ion-title>
    <ion-searchbar #filterInput *ngIf="searching" [(ngModel)]="searchString" (ionInput)="filterIndex(recipes)"
                   (ionCancel)="searching = false" (ionClear)="clearSearch()" [showCancelButton]="true"
                   cancelButtonText="Clear" [animated]="true"></ion-searchbar>
    <ion-buttons end>
      <button ion-button class="favorite" (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let uuid of index">
      <ion-item (click)="itemTapped($event, uuid)">{{recipes[uuid]}}</ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="deleteRecipe(uuid)" color="danger">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
        <button ion-button (click)="editRecipe(uuid)">
          <ion-icon name="build"></ion-icon>
          Edit
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab (click)="addRecipe()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
